:root{
    --main-col: #0E3945;
    --sec-col: #318A81;
    --ter-col: rgba(0, 0, 0, 0.2);
    --white: rgb(248, 249, 250);
}

.navbar-brand {
    display: flex;
    align-items: center;
    cursor: pointer;
    border: 2px solid var(--white);
    border-radius: 10px;
    padding: 2px 6px;
    transition: 0.3s;
}

.navbar-brand:hover {
    border: 2px solid #553C7B;
    border-radius: 10px;
    background-color: rgb(2, 1, 0, 0.1);
    transition: 0.2s;
}

.nav-link:hover {
    text-decoration: underline;
}

.section {
    min-height: 100vh;
}

.section-header {
    margin-bottom: 28px;
}

.section-header-white {
    color: var(--white);
}

.ps-section, .skl-section{
    background-color: var(--sec-col);
}

.ps-desc {
    color: var(--white);
    background-color: var(--ter-col);
    padding: 15px 20px;
    border-radius: 8px;
}

.avatar {
    border: 2px solid black;
    border-radius: 28px;
    margin: 10px 0px 20px 0px;
}

.white-section {
    background-color: var(--white);
}

.card {
    text-decoration: none;
}

.wrk-card:hover {
    background-color: var(--ter-col);
    transition: 0.3s;
    cursor: pointer;
}

.card-img-top {
    width: 80%;
    height: 10vw;
    object-fit: cover;
    border: 2px solid black;
    border-radius: 60px;
}

.skl-img {
    padding: 6px;
    width: 80%;
    height: 10vw;
    object-fit: contain;
    border: 2px solid transparent;
    border-radius: 60px;
}

.contact-section {
    min-height: 50vh;
}

.footer-content {
    background-color: var(--ter-col);
}

.btn-shadow:hover {
    box-shadow: 0 0 11px rgba(33,33,33,.8); 
}

.disabled:hover {
    background-color: transparent;
    text-decoration: none;
    cursor: default;
}